<!-- ko ifnot:  showButton() -->
<li id="authentication_code" style="display: flex; justify-content: center;">
    <div id="previous-step" style="margin-right: 1rem;">
        <button data-bind="click: navigateToPreviousStep" class="action primary">Behind</button>
    </div>
    <div style="font-weight: bold; margin:0 2rem;" class="total-authentication">Total: <span data-bind="text: showTotal()"></span>đ</div>
    <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="opc-continue" type="submit" class="button action continue primary">
                    <span>Continue</span>
                </button>
            </div>
        </div>
    </form>
</li>
<!--/ko-->
<!-- ko if:  showButton() -->
<div class="primary">
    <button data-role="opc-continue" type="submit" class="button action continue primary">
        <span>Payment</span>
    </button>
</div>
<!--/ko-->
